DB_HOST=localhost
DB_NAME=traffiq
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_PORT=5432
WEATHER_LOCATION_NAME=Suceava
WEATHER_LATITUDE=47.6514
WEATHER_LONGITUDE=26.2556
WEATHER_TIMEZONE=Europe/Bucharest
TOMTOM_API_KEY=your_tomtom_api_key
MOBILITY_INGESTION_TOKEN_SHA256=sha256_hex_of_cloud_ingestion_token
COGNITO_REGION=eu-central-1
COGNITO_USER_POOL_ID=eu-central-1_QLCNGVSM1
COGNITO_APP_CLIENT_ID=6vp5r1edjn8phjhfm2jk1f4dcp
